<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>

    <title>Document</title>
</head>
<body>
    
    <h1>Ingresa el codigo para entrar</h1>
    <div class="codee">
        <input type="password" id="codigo" placeholder="Codigo">
        <div class="botoon">
            <button type="button" id="ingreso">Ingresar</button>
        </div>
    </div>

    <py-env>
        - flask
    </py-env>

    <py-script src="/static/getinto.py"></py-script>
</body>
</html>